
<html>
  <head>
    <title>piper</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>

  	<header>
  		<div class="container">
  		<center>
 
			<div id="center">
				[ piper ]
			</div>
  			<div class="tagline">
   			Command line outputs to the web, one pipe away!
   			</div>
  		</center>
  		</div>
  	</header>

  	<div class="container-fluid">  
  	<div class="col-md-8 col-md-offset-2">

     <div class="text-center" id="name"> 
        hah
     </div>

  			<pre>
  				<code>
Lorem ipsum dolor sit amet, ad nec cibo argumentum. Nam et volumus moderatius appellantur, no nam tamquam integre persequeris. Laudem facilisis definiebas ne est. Nonumy copiosae inimicus sea at, veri animal eos id, conceptam vituperata vel ad. Et mei oblique numquam contentiones. Nec te homero placerat ullamcorper, usu consulatu maiestatis democritum ut.

Te deleniti comprehensam est, pri te dicat vulputate. Ferri fuisset intellegam ea per. Vis cibo ornatus denique eu. Eu ullum iracundia eos, alii facilisis te usu. Ne meliore fuisset mei. Usu ea ponderum similique dissentiet, ex quem quis sit.
  				</code>
  			</pre>
  	</div>
  	</div>

<!-- HERE -->

  </body>
</html>
