
<html>
  <head>
    <title>piper</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>

  	<header>
  		<div class="container">
  		<center>
 
			<div id="center">
				[ piper ]
			</div>
  			<div class="tagline">
   			Command line outputs to the web, one pipe away!
   			</div>
  		</center>
  		</div>
  	</header>

  	<div class="container-fluid">  
  	<div class="col-md-8 col-md-offset-2">

     <div class="text-center" id="name"> 
     </div>
     <p>
     Piper is a command line tool to easily and seamlessly share command line outputs to the web, by using a unix pipe to the <code>piper</code> command.
  	 </p>

     <p>
       You can get <code>piper</code> by running the following commands in a unix shell :
     </p>

     <pre> <code>
$ git clone https://github.com/subhankar-panda/piper.git piper
$ cd piper
$ go install -v </code>
     </pre>

     <p>
       I'm working on getting it up on npm/brew <\shrug>
     </p>

     <p>
       Once you have piper installed, you can get to using it like this :
     </p>

     <pre><code>
$ python frustating_err_code.py > err_python
$ cat err_python | piper</code>
     </pre>

     <p>
       Piper will generate a ~sick~ URL for you and host your file on the web for you to share your findings/errs, straight from your shell!
     </p>



    </div>
  	</div>

<!-- HERE -->

  </body>
</html>
